<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AWS Cloudwatch</title>
</head>
<body>
    <img src="/images/img0.png" />
    <img src="/images/img1.png" />
    <img src="/images/img2.png" />
    <img src="/images/img3.png" />
</body>
</html>