<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="16" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AWS Cloudwatch</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js" integrity="sha256-OgiHfllOBEOiWQ2OcBsDncRG2k7QBW9Rs1dB7MH2N2s=" crossorigin="anonymous"></script>
</head>
<body>
    <img id="img0" src="/images/img0.png" />
    <img id="img1" src="/images/img1.png" />
    <img id="img2" src="/images/img2.png" />
    <img id="img3" src="/images/img3.png" />

    <script src="/update.js"></script>
</body>
</html>